
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 38%, 92%);
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Fraunces, serif;
}
@media only screen and (min-width: 800px) {
    .container{
        display:flex;
        flex-direction: row;
        width: 550px;
        height: 375.5px;
        margin-top: 128.75px;
    }
    .image{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 250px;
    }
    .container-2{
        background-color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 300px;
        margin: 0;
        
    }
    p, h1 {
        margin-left: 20px;
    }
    .p{
        margin-top: 20px;
        letter-spacing: 2.5px;
        font-size: 9px;
        color: gray;
        opacity: 0.7;
        font-weight: 700;
    }
    .more{
        color: gray;
        opacity: 0.7;
        font-size: 14px;
        letter-spacing: 1.7px;
        line-height: 1.5;
    }
    h1, .more, .btn, .s{
        margin-top: 20px;
    }
    a{
        color: white;
        text-decoration-line: none;
        text-decoration-color:white ;
        margin-left: 10px;
    }
    .btn{
        background-color: hsl(158, 36%, 37%);
        border: none;
        border-radius: 5px;
        padding: 15px 60px;
        margin-left: 32.76px;
        margin-right: 32.76px;
    }
    .s{
        color: hsl(158, 36%, 37%);
        font-size: 30px;
        font-weight: 700;
    }
    span{
        color: gray;
        font-size: 14px;
        opacity: 0.7;
        margin-left: 10px;
        text-decoration: line-through;
    }
    button:hover {
        background-color: hsl(158, 42%, 18%);
        cursor: pointer;
    }
}

@media only screen and (max-width: 799px) {
    .container{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 10px 0;
        height: 100%;
        /* width: 90vw; */
        margin-top: 50px;
        width: 100%;
    }
    .image{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 340px;
        margin-bottom: 0;
    }
    .container1{
        height: 188.91px;
    }
    .container-2{
        background-color: white;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 343px;
        margin: 0;
    }
    p, h1 {
        margin-left: 20px;
    }
    .p{
        margin-top: 20px;
        letter-spacing: 2.5px;
        font-size: 9px;
        color: gray;
        opacity: 0.7;
        font-weight: 700;
    }
    .more{
        color: gray;
        opacity: 0.7;
        font-size: 14px;
        width: 300px;
        letter-spacing: 1.7px;
        line-height: 1.5;
    }
    h1, .more, .btn{
        margin-top: 15px;
    }
    a{
        text-decoration-line: none;
        text-decoration-color:white ;
        color: white;
        margin-left: 15px;
        font-size: 14px;
    }
    .btn{
        background-color: hsl(158, 36%, 37%);
        border: none;
        border-radius: 5px;
        /* padding: 10px 60px; */
        height: 48px;
        width: 279px;
        margin-left: 32.76px;
        margin-right: 32.76px;
        margin-bottom: 15px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .s{
        color: hsl(158, 36%, 37%);
        font-size: 30px;
        font-weight: 700;
        margin-top: 15px;
    }
    span{
        color: gray;
        font-size: 14px;
        opacity: 0.7;
        margin-left: 10px;
        text-decoration: line-through;
    }
    h1{
        font-size: 30px;
    }
    img{
        padding: o;
        margin: 0;
        margin-top: 5px;

    }
    img, .btn{
        display: flex;
        flex-direction: row;
    }
    .but{
        display: flex;
        flex-direction: row;
    }
    button:hover {
        background-color: hsl(158, 42%, 18%);
        cursor: pointer;
    }
}